body{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 0;
    background-color: #1f2937;
}

.headerlinks{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: grey;
}

.topcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1f2937;
}