body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding:  0 0 50px 0;
    justify-self: flex-start;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

.heromain{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.herosecond , a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.topheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 10em;
}

.bottomheader{
    display: flex;    
    justify-content: space-between;
    padding: 1em 10em;
}

.bottomleftheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.signup{
    background-color: #3882f6;
    border: 1;
    border-color: #3882f6;
    border-radius:5px;
    padding: 5px 20px;
    color: #e5e7eb;
    font-weight: bold;

}

.mainimg{
    width: 500px;
    height: 200px;
}


.cardscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.quote{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1f2937;
    padding: 50px;
}

.bottomcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 50px;
    background-color: #3882f6;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}



footer{
    display: flex;
    text-align: center;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    margin-top: auto;
}

img{
    width: 250px;
    height: 250px;
}

.signup2{
    background-color: #3882f6;
    border: 2;
    border-radius:5px;
    padding: 5px 20px;
    color: #e5e7eb;
    font-weight: bold;
    outline: aqua;
}